*{
    margin: 0%;
    padding: 0%;
}
.image img{
    position: center;
    height: 100vh;
}
.vaccinationCount[_ngcontent-doq-c115] 
.vaccinationstoday[_ngcontent-doq-c115] 
.rightContant[_ngcontent-doq-c115] 
h3[_ngcontent-doq-c115]{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.5px;
    color: #0e1229;
}
#count{
    position: relative;
    width: 280px;
    border-color: gray;
    background: gray;
    /* height: 50px;
    width: 50px;
    border: gray; */
}
#first{
    position: absolute;
    left: 200px;
}
#Secound{
    position: absolute;
    right: 200px;
}